<div class="sidebar">
    <a href="#" class="logo">
        <i class='bx bx-code-alt'></i>
        <div class="logo-name"><span>JSS</span>Admin</div>
    </a>
    <ul class="side-menu">
        <li data-key="dashboard"><a href="/Educa_vol_1/JSS/admin/Pages/dashboard/index.html"><i class='bx bxs-dashboard'></i><span class="link-text">Dashboard</span></a></li>
        <li data-key="analysis"><a href="/Educa_vol_1/JSS/admin/Pages/analytics/analysis.html"><i class='bx bx-analyse'></i><span class="link-text">Analytics</span></a></li>
        <li data-key="teachers"><a href="/Educa_vol_1/JSS/admin/Pages/teachers/users.html"><i class='bx bx-group'></i><span class="link-text">Teachers</span></a></li>
        <li data-key="students"><a href="/Educa_vol_1/JSS/admin/Pages/students/students.html"><i class='bx bx-book-reader'></i><span class="link-text">Students</span></a></li>
        <li data-key="reports"><a href="/Educa_vol_1/JSS/admin/Pages/reports/reports.html"><i class='bx bxs-report'></i><span class="link-text">Reports</span></a></li>
        <li data-key="settings"><a href="/Educa_vol_1/JSS/admin/Pages/settings/settings.html"><i class='bx bx-cog'></i><span class="link-text">Settings</span></a></li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="/Educa_vol_1/JSS/admin/backend/public/index.php/auth/logout" class="logout">
                <i class='bx bx-log-out-circle'></i>
                <span class="link-text">Logout</span>
            </a>
        </li>
    </ul>
</div>
