<nav class="bottom-navigator">
    <a href="../pages/home.html" class="nav-item" title="Home">
        <i class="fas fa-home"></i>
        <span>Home</span>
    </a>
    <a href="../pages/exam.html" class="nav-item" title="Switch Exam">
        <i class="fas fa-book"></i>
        <span>Exam</span>
    </a>
    <a href="../pages/profile.html" class="nav-item" title="Profile">
        <i class="fas fa-user"></i>
        <span>Profile</span>
    </a>
    <a href="https://" class="nav-item" title="Class-Teacher Portal">
        <i class="fas fa-chalkboard-teacher"></i>
        <span>ClassTeacher</span>
    </a>
    <a href="../backend/public/index.php/auth/logout" class="nav-item" title="Logout">
        <i class="fas fa-sign-out-alt"></i>
        <span>Logout</span>
    </a>
</nav>
