<div class="bottom-navigator">
    <a href="home.html" class="nav-item active" title="Home">
        <i class="fas fa-home"></i>
        <span>Home</span>
    </a>
    <a href="exam.html" class="nav-item" title="Exams">
        <i class="fas fa-file-alt"></i>
        <span>Exams</span>
    </a>
    <a href="marklist.html" class="nav-item" title="Mark-List">
        <i class="fas fa-award"></i>
        <span>Mark List</span>
    </a>
    <a href="pointstable.html" class="nav-item" title="Rubric">
        <i class="fas fa-thumbtack"></i>
        <span>Rubric</span>
    </a>
    <a href="students.html" class="nav-item" title="Students">
        <i class="fas fa-users"></i>
        <span>Students</span>
    </a>
    <a href="../backend/public/index.php/auth/logout" class="nav-item" title="Log-Out">
        <i class="fas fa-sign-out-alt"></i>
        <span>Logout</span>
    </a>
</div>
