<aside class="side-bar">
    
   <div id="close-btn" class="fas fa-times">close</div>

   <div class="profile">
      <img src="../photos/user1.png" class="image" alt="">
      <h3 class="name" id="sidebarTeacherName">Loading...</h3>
      <p class="role">Class Teacher</p>
      <a href="../pages/profile.html" class="btn">view profile</a>
   </div>

   <nav class="navbar">
      <a href="../pages/home.html"><i class="fas fa-home"></i><span>Home</span></a>
      <a href="../pages/exam.html"><i class="fas fa-book"></i><span>Switch Exam</span></a>
      <a href="../pages/students.html"><i class="fas fa-user-graduate"></i><span>Students</span></a>
      <a href="../pages/marklist.html"><i class="fas fa-award"></i><span>Mark List</span></a>
      <a href="../pages/pointstable.html"><i class="fas fa-thumbtack"></i><span>Rubric</span></a>
      <a href="../pages/reports.html"><i class="fas fa-chart-bar"></i> <span>Results History</span></a>
      <a href="../backend/public/index.php/auth/logout"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
   </nav>
   
</aside>